@model List<Carrera>

<h2>Listado de Carreras</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearModal">
    Crear carrera
</button>

<!-- Modal Crear -->
<div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Carrrera</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form asp-action="Create" asp-controller="Carreras" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" placeholder="Carrera"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="duracion">Duración:</label>
                                    <input type="text" id="duracion" name="duracion" placeholder="En años"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Agregar Carrera</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Carrrera</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form asp-action="Edit" id="formularioEdicion" asp-controller="Carreras" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" placeholder="Carrera"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="duracion">Duración:</label>
                                    <input type="text" id="duracion" name="duracion" placeholder="En años"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Editar Carrera</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duración</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carrera in Model)
        {
            <tr>
                <td>@carrera.Nombre</td>
                <td>@carrera.Duracion Años</td>
                <td>
                    <button onclick="pasarID(@carrera.CarreraID)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal">
                        Editar carrera
                    </button>

                    <form asp-action="Delete" asp-controller="Carreras" asp-route-id="@carrera.CarreraID" class="d-inline">
                        <button class="btn btn-dark" type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function pasarID(id) {
        var form = document.getElementById('formularioEdicion');
        form.action = '/Carreras/Edit/' + id;
    }
</script>